function pp(){
        var data_info = {{ site_info|safe }};
	var data_value = {{ showvalue|safe }};
        $("span.BMap_Marker").remove();
	for(var i= 0;i<data_info.length;i++){
		var minute = parseInt((parseInt(data_value['9'][i][1]) / 60) % 60);
		var hour = parseInt(((parseInt(data_value['9'][i][1]) / 60) / 60) % 24);
		var day = parseInt(((parseInt(data_value['9'][i][1]) / 60) / 60) / 24);
		var networkflow = data_value['9'][i][2];
                var netin=data_value['9'][i][3];
		var networkflow1 = networkflow.toFixed(3);
                var netin1=netin.toFixed(3);
		var point = new BMap.Point(data_info[i][0],data_info[i][1]);
		var content1 = data_info[i][2] + networkflow1 + " Mbps";
        	var content2 = "在线时间:"+day+"天"+hour+"小时"+minute+"分钟";
                content2="当前入口流量:"+netin1+" Mbps";
		var content3 = content1 + '<br>' + content2;
		var label = new BMap.Label(content3, {offset:new BMap.Size(27,-10)});
                
		if (parseInt(data_value['9'][i][0])==0 || networkflow1 == 0.000){
			var myIcon = new BMap.Icon('{{ url_for('static', filename='hs.png')}}', new BMap.Size(32,32),{anchor: new BMap.Size(16, 32)});
			var marker = new BMap.Marker(point, {icon:myIcon});
			label.setStyle({ color : "red", fontSize : "8px" ,borderColor:"red"})
			//marker.setAnimation(BMAP_ANIMATION_BOUNCE);
		}else if(content1.indexOf("VPN")!=-1){
                        var myIcon = new BMap.Icon('{{ url_for('static', filename='vpn.png')}}', new BMap.Size(32,32),{anchor: new BMap.Size(16, 32)});
                        var marker = new BMap.Marker(point, {icon:myIcon});
                        label.setStyle({ color : "black", fontSize : "8px" ,borderColor:"blue"})
                        //marker.setAnimation(BMAP_ANIMATION_BOUNCE);
                }
		else{
			var myIcon = new BMap.Icon('{{ url_for('static', filename='ls.png')}}', new BMap.Size(32,32),{anchor: new BMap.Size(16, 32)});
			var marker = new BMap.Marker(point, {icon:myIcon});
			label.setStyle({ color : "black", fontSize : "8px" ,borderColor:"green"})
		}
		map.addOverlay(marker);
		marker.setLabel(label);
marker.addEventListener("dblclick", function(){
  map.centerAndZoom(this.getPosition(),18);
})
		
	}
}


setTimeout('myrefresh()',60000);
